<div class="card following my-1 mx-3">
    <div class="card-body ">
        <a href="/users/{{username}}" class="lightLink">
            <h5>@{{username}}
                <img src="{{avatar}}" class="img-thumbnail float-right" alt="user avatar for {{username}}">
            </h5>
        </a>
    </div>
</div>