<li class="list-group-item">
	<a href="/users/{{username}}"><img src="{{avatar}}&s=40" class="img-thumbnail float-right"
			alt="user avatar for {{username}}">
		<h5 class="py-1">@{{username}}</h5>
	</a>
</li>