<li class="list-group-item">
<div class="card following" >
    <div class="card-body">
        <h5 class="card-title">@{{username}}</h5>
				<a href="/users/{{username}}"><img src="{{avatar}}" class="img-thumbnail float-right"
                alt="user avatar for {{username}}">
        </a>
    </div>
</div>
</li>