<div class="input-group mb-3 w-100">
  <textarea class="form-control postBlock w-100" id="postBody" rows="3" placeholder="What's on your mind?"
    aria-label="New Buzz post box"></textarea>
  <button class="btn btn-outline-secondary" type="button" id="newBuzz" data-id="{{main.buzzId}}">Send Buzz</button>
</div>