<script src="https://cdn.tiny.cloud/1/p9wkcmzakiaoiz2okm09krbi1o96t8ln8c40eyi8gfac9i5t/tinymce/5/tinymce.min.js"
  referrerpolicy="origin"></script>

<div class="input-group mb-3 ">
  <textarea class="form-control postBlock w-100 " id="postBody" rows="3" placeholder="What's on your mind?"
    aria-label="New Buzz post box"></textarea>
  <button class="btn btn-outline-secondary postBlockButton" type="button" id="newBuzz" data-id="{{user.id}}">Send Buzz</button>
</div>