    <nav class="navbar">
        <span class="navbar-brand mb-0 h1" id="nav-heading">User Profiles</span>
    </nav>

    <!--Container -->
    <div class="container" style="margin:100px">
        <div class="row">
            <div class="col-md-3">
                <div class="container">
                    <div class="row" id="post">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="What's on your mind?"
                                aria-label="What's on your mind?" aria-describedby="button-addon2">
                            <button class="btn btn-outline-secondary" type="button" id="button-addon2">Post</button>
                        </div>
                    </div>
                    <div class="row">
                        <ul class="list-group" style="margin-top:100px;width:250px">
                            {{#each buzz}}
                            <li class="list-group-item" id="friends-list">{{this.name}}<img src="{{this.avatar}}"
                                    class="img-thumbnail" alt="..." style="width:30px;height:30px;float:right"></li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>


            <!-- Column 2 -->
            <div class="col-md-9">
                <div class="container">
                    <ul class="list-group" style="margin-left:200px">
                        {{#each followers}}
                        <div class="card profilePhoto">
                            <div class="row">
                                <div class="col-sm-6">
                                    <img src="https://picsum.photos/150?grayscale" class="card-img-top" alt="...">
                                </div>
                                <div class="col-sm-6">
                                    <div class="card-body">
                                        <h5 class="card-title">John Doe</h5>
                                        <p class="card-text">I like long walks on the beach.</p>
                                        <a href="#" class="btn btn-primary">buzz me</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>