<nav class="navbar">
  <span class="navbar-brand mb-0 h1" id="nav-heading">Chat Exchanges</span>
</nav>
<!--Container -->
<div class="container" style="margin:100px;align-items: center;">
  <div class="row">
    <!--Column 1-->
    <div class="col-md-6">
      <div class="row mb-3 px-0 mx-0" id="postArea">
        {{> post-block}}
      </div>
      <div class="row text-center">
        <h4>Your Buds</h4>
      </div>
      <div class="row">
        <ul class="list-group" id="friends-list">
          {{#each buds}}
          {{> bud-block}}
          {{/each}}
        </ul>
      </div>
    </div>

    <!-- Column 2 -->
    <div class="col-md-6">
      <div class="container">
        <h1>Posts</h1>
        <ul class="list-group">
          {{#each buzz}}
          {{> buzz-block}}
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>
<script src="/js/dashboard.js"></script>