<nav class="navbar">
  <span class="navbar-brand mb-0 h1" id="nav-heading">Chat Exchanges</span>
</nav>
<!--Container -->
<div class="container" style="margin:100px;align-items: center;">
  <div class="row">
    <!--Column 1-->
    <div class="col-md-6">
      <div class="row mb-3" id="post">
        <div class="input-group mb-3">
          <input type="textarea" class="form-control" id="post-on-wall" rows="3" placeholder="What's on your mind?"
            aria-label="What's on your mind?" aria-describedby="button-addon2">
          <button class="btn btn-outline-secondary" type="button" id="button-addon2">Post</button>
        </div>
      </div>
      <div class="container">
        <h4>Your Buds</h1>
          <ul class="list-group" id="friends-list">
          {{#each buds}}
          {{> bud-block}}
          {{/each}}
        </ul>
      </div>
    </div>

    <!-- Column 2 -->
    <div class="col-md-6">
      <div class="container">
        <h1>Posts</h1>
        <ul class="list-group">
          {{#each buzz}}
          {{> buzz-block}}
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>